<div class="navbar">
    <div class="navbar-brand">🛒 Punto de Venta</div>
    <nav>
        <NavLink href="" Match="NavLinkMatch.All">Nueva Venta</NavLink>
        <NavLink href="historial">Historial de Facturas</NavLink>
    </nav>
</div>